.menuContainer {
  display: flex;
  justify-content: left;
  transition: 0.7s ease-out;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: fit-content;
  padding: 2px;
  ul {
    margin: 8px 16px;
  }
}

.menuLogo {
  padding: 12px 8px;
  height: var(--menu-bar-height-desktop);
  box-sizing: border-box;
  object-fit: contain;
}
.clear {
  background-color: transparent;
}
.menuBar {
  font-size: 28px;
  position: relative;
  padding-inline-start: 0;
  font-family: "Girassol", serif;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;

  a {
    color: white;
    &:hover {
      color: rgb(193, 197, 255);
    }
  }
}

/* Mobile CSS */
@media screen and (max-width: 757px) {
  .menuContainer {
    flex-direction: column;
  }
  .menuBar {
    font-size: 20px;
  }

  .menuBar {
    margin: 8px 16px;
    flex-direction: column;
    padding-inline-start: 0;
    background-color: black;
  }

  .mobileMenuUpper {
    display: flex;
    height: var(--menu-bar-height-mobile);
    justify-content: space-between;
    .menuLogo {
      height: var(--menu-bar-height-mobile);
    }
  }
}
