.menuContainer {
  display: flex;
  justify-content: left;
  transition: 0.7s ease-out;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: fit-content;
  padding: 2px;
  ul {
    margin: 8px 16px;
  }
}

.clear {
  background-color: transparent;
}
.menuBar {
  font-size: 28px;
  position: relative;
  font-family: "Girassol", serif;
  list-style: none;
  display: flex;
  gap: 40px;

  a {
    color: white;
    &:hover { 
      color: rgb(193, 197, 255);
    }
  }
}

/* Mobile CSS */
@media screen and (max-width: 757px) {
  .menuContainer {
    justify-content: center;
  }
  .menuBar {
    font-size: 10px;
  }

  .menuBar > ul {
    margin: 8px 16px;
    padding-inline-start: 10px;
  }
}
