.signupContainer {
  color: #e2e2e2;
  background-color: black;
  gap: 105px;
  align-items: center;
  padding: 25px 100px;

  .optionsSection {
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
  }

  .ctaBanner {
    width: 100%;
    border-radius: 8px;
  }
  .ctaContainer {
    font-family: "Asul";
    padding: 10px 16px;
    line-height: 100%;
    font-size: var(--body-font);
    background-color: black;
    /* height: 100%; */
    color: var(--heading-color);
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

@media screen and (max-width: 757px) {
  .signupContainer {
    padding: 30px;
    gap: 20px;
    .optionsSection {
      gap: 20px;
      grid-template-columns: 1fr;
    }
  }
}
